.global-footer {
  width: 100%;
  height: auto;
  overflow: hidden;
  line-height: 60px;
  background-color: #7f7467;
  color: white;
}

.footer-box {
  box-sizing: border-box;
  width: 960px;
  margin: 0 auto;
  padding: 36px 0 60px;
  color: #fff;
}

.footer-top {
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
}

.footer-left .footer-name {
  font-size: 18px;
  width: 144px;
}

.footer-left .footer-name img {
  width: 100%;
}

.footer-left .sns-links {
  margin-top: 140px;
}

.sns-links a {
  box-sizing: border-box;
  margin-right: 20px;
  text-decoration: none;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.sns-links img {
  width: 18px;
  border: none;
  vertical-align: middle;
}

.about-links {
  display: inline-block;
  margin-right: 50px;
  color: #fff;
}

.about-links:last-child {
  margin-right: 0;
}

.about-links .links-title {
  font-size: 14px;
}

.about-links .am-link {
  line-height: 12px;
  padding-top: 15px;
}

.about-links a {
  color: #fff;
  font-size: 12px;
  text-decoration: none;
}

.footer-bottom {
  padding-top: 16px;
}

.bottom-right a {
  text-decoration: none;
  color: #fff;
}
