.app-shell-hide {
  visibility: hidden;
}
.app-shell-error,
.app-shell-loading {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
.app-shell-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.app-shell-spinner > div {
  width: 18px;
  height: 18px;
  background-color: #37f;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s ease-in-out infinite both;
  animation: sk-bouncedelay 1.4s ease-in-out infinite both;
}
.app-shell-spinner .app-shell-bounce1 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.app-shell-spinner .app-shell-bounce2 {
  -webkit-animation-delay: 0.26s;
  animation-delay: 0.26s;
}
.app-shell-spinner .app-shell-bounce3 {
  -webkit-animation-delay: 0.42s;
  animation-delay: 0.42s;
}
@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  to {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bouncedelay {
  0%,
  80%,
  to {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
