<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <link rel="shortcut icon" type="image/png" href="https://s1.pstatp.com/ee/bytedance-home/static/img/favicon.ico">
  <meta charset="UTF-8">
  <meta name="keywords" content="字节跳动, 字节, 字节跳动官网, ByteDance, 抖音, 今日头条, tiktok">
  <meta name="description" content="字节跳动成立于2012年3月，目前公司的产品和服务已覆盖全球150个国家和地区、75个语种，曾在40多个国家和地区位居应用商店总榜前列。">
  <meta name="viewport"
    content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
  <title>首页</title>
  <style>
    .app-shell-hide {
      display: none
    }
  </style>
</head>

<body>
  <div class="app-shell-loading">
    <div class="app-shell-spinner">
      <div class="app-shell-bounce1"></div>
      <div class="app-shell-bounce2"></div>
      <div class="app-shell-bounce3"></div>
    </div>
  </div>
  <div class="app-shell-loaded app-shell-hide" id="app">
    <!--引入通用的导航部分-->
    <!-- #include('../../tpl/header.html') -->
    <header>
      <div class="constr">
        <div class="header">
          <a href="/" class="logo">
            <img src="./image/logo.png" width="100%" alt="logo">
            <h1>字条跳动</h1>
          </a>
          <nav class="nav">
            <div class="navList">
              <a class="navLink">关于我们</a>
              <ul class="navUl">
                <li><a href="">关于我们</a></li>
                <li><a href="">关于我们</a></li>
                <li><a href="">关于我们</a></li>
                <li><a href="">关于我们</a></li>
                <li><a href="">关于我们</a></li>
              </ul>
            </div>
            <div class="navList">
              <a class="navLink">全版权运营</a>
              <ul class="navUl">
                <li><a href="">关于我们</a></li>
                <li><a href="">关于我们</a></li>
                <li><a href="">关于我们</a></li>
                <li><a href="">关于我们</a></li>
                <li><a href="">关于我们</a></li>
              </ul>
            </div>
            <div class="navList">
              <a class="navLink">移动产品</a>

            </div>
            <div class="navList">
              <a class="navLink">旗下品牌</a>

            </div>
            <div class="navList">
              <a class="navLink">投资者关系</a>

            </div>
            <div class="navList">
              <a class="navLink">新闻中心</a>

            </div>
            <div class="navList">
              <a class="navLink">联系我们</a>

            </div>
          </nav>
          <div class="menu">
            <span class="menu-circle"></span>
            <a href="#" class="menu-link">
              <span class="menu-icon">
                <span class="menu-line menu-line-1"></span>
                <span class="menu-line menu-line-2"></span>
                <span class="menu-line menu-line-3"></span>
              </span>
            </a>
          </div>
        </div>

      </div>
    </header>
    <!--引入通用的底部栏-->
    <!-- #include('../../tpl/footer.html') -->
  </div>
  <div class="app-shell-error app-shell-hide">
    不支持 IE 11 以下的浏览器
  </div>
  <!-- <%=require('html-withimg-loader!../tpl/footer.html')%> -->
  <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
</body>

</html>