/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-star24_half2 {
  background-image: url(./sprites.png);
  background-position: 0px 0px;
  width: 20px;
  height: 19px;
}
.icon-star24_off2 {
  background-image: url(./sprites.png);
  background-position: 0px -21px;
  width: 20px;
  height: 19px;
}
.icon-star24_on2 {
  background-image: url(./sprites.png);
  background-position: 0px -42px;
  width: 20px;
  height: 19px;
}

@media (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 192dpi) {
  .icon-star24_half2 {
    background-image: url(./sprites@2x.png);
    background-size: 20px 61px;
  }
  .icon-star24_off2 {
    background-image: url(./sprites@2x.png);
    background-size: 20px 61px;
  }
  .icon-star24_on2 {
    background-image: url(./sprites@2x.png);
    background-size: 20px 61px;
  }
}
